<div class="container">
  <div class="jumbotron">
  <h1>Books App</h1>
  <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addModal">+ New Book</a>
  <h3>Books table:</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Author</th>
        <th>Date</th>
        <th>Title</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of Books;let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{book.Author}}</td>
        <td>{{book.Date | date:'shortDate'}}</td>
        <td>{{book.Title | capital}}</td>
        <td><a (click)="editTarget(i)" class="btn btn-lg btn-info" data-toggle="modal" data-target="#editModal">Edit</a>
        <a (click)="deleteTarget(i)" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<app-addmodal></app-addmodal>
<app-deletemodal></app-deletemodal>
<app-editmodal></app-editmodal>